<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learning" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".pager3Demo.BaseClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learning" >
        <activity
            android:name=".roomDataBase.ui.roomActivity.RoomActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alarmManager.AlarmActivity"
            android:exported="true" />

        <service
            android:name=".alarmManager.NotifyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".navigationTablayoutDemo.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".pager3Demo.MainActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>